{% extends 'core/base.html' %}
{% block content %}
{% load static %}

<div class="container max-width-container">
  <div class="row">
    <div class="col-md-4">
      {% include 'core/subpages/_left_aside.html' with data=request.user %}
    </div>

    <div class="col-md-8">
      <div class="ml-5">
        <h4 class="mt-5 text-danger">
          <i class="fa fa-lock" aria-hidden="true"></i>
          Permission Denied
        </h4>
        <p class="mt-5 mb-2">You do not have permission to access this page. Please refer to your system administrator.</p>
        <p>Contact the <span class="font-weight-bold">Graduate & Postdoctoral Studies</span> at <a href="mailto:lfs.gradapp@ubc.ca">lfs.gradapp@ubc.ca</a> if you need assistance. </p>

        <img class="mt-5rem" src="{% static 'images/bee-gd6e90ff25_640.png' %}" width=200 alt="bumble-bee"/>
      </div>
    </div>
  </div>
</div>

{% endblock %}
