<button class="btn btn-xs btn-info" type="button" data-toggle="modal" data-target="#grad-supervision-modal-{{ item.id }}">
  {{ item.graduate_supervision_set.count }}
</button>

<div class="modal fade" id="grad-supervision-modal-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="grad-supervision-modal-label-{{ item.id }}" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-info" id="grad-supervision-modal-label-{{ item.id }}">Graduate Supervision</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body text-left">

        <h6 class="d-inline-block mb-4">
          Professor Full Name: <span class="text-dark-blue">{{ item.get_full_name }}</span>
        </h6>

        {% if path == 'get_professors' %}
          <div class="float-right">
            <a href="{% url 'gp_admin:get_program_supervision' %}?page=1&first_name={{ item.first_name }}&last_name={{ item.last_name }}">View more</a>
          </div>
        {% endif %}

        <table class="modal-table table text-center">
          <thead>
            <tr>
              <th>First <br /> Name</th>
              <th>Last <br /> Name</th>
              <th>Student <br /> Number</th>
              <th>Email</th>
              <th>Professor <br /> Role</th>
              <th>Created on</th>
              <th>Updated on</th>
            </tr>
          </thead>
          <tbody>
            {% for gs in item.graduate_supervision_set.all %}
            <tr>
              <td>{{ gs.student.first_name }}</td>
              <td>{{ gs.student.last_name }}</td>
              <td>{{ gs.student.student_number }}</td>
              <td>{{ gs.student.email }}</td>
              <td>{{ gs.professor_role.name }}</td>
              <td>{{ gs.created_on }}</td>
              <td>{{ gs.updated_on }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
