<nav class="container menu">

  <div class="dropdown">
    <a class="btn dropdown-item" href="{% url 'gp_admin:index' %}">Home</a>
  </div>

  <div class="dropdown">
    <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Data Tables
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{% url 'gp_admin:get_students' %}">Students</a>
      <a class="dropdown-item" href="{% url 'gp_admin:get_professors' %}">Professors</a>
      <a class="dropdown-item" href="{% url 'gp_admin:get_grad_supervision' %}">Graduate Supervision</a>
      <a class="dropdown-item" href="{% url 'gp_admin:get_comp_exams' %}">Comprehensive Exams</a>
      <a class="dropdown-item" href="{% url 'gp_admin:sent_reminders' %}">Sent Exam Reminders</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Users
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{% url 'gp_admin:get_users' %}">All</a>
      
      {% if 'superadmin' in user_roles %}
        <a class="dropdown-item" href="{% url 'gp_admin:get_roles' %}">Roles</a>
      {% endif %}
    </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Preparation
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{% url 'gp_admin:get_statuses' %}">Statuses</a>
      <a class="dropdown-item" href="{% url 'gp_admin:get_degrees' %}">Degrees</a>
      <a class="dropdown-item" href="{% url 'gp_admin:get_programs' %}">Programs</a>
      <a class="dropdown-item" href="{% url 'gp_admin:get_titles' %}">Titles</a>
      <a class="dropdown-item" href="{% url 'gp_admin:get_positions' %}">Positions</a>
      <a class="dropdown-item" href="{% url 'gp_admin:get_professor_roles' %}">Professor Roles</a>
      <a class="dropdown-item" href="{% url 'gp_admin:get_reminders' %}">Setup Exam Reminders</a>
    </div>
  </div>

</nav>

{% include 'core/subpages/_return_messages.html' with data=messages %}
