<button class="btn btn-xs btn-link fs-sm" type="button" data-toggle="modal" data-target="#general-info-modal-{{ data.id }}">
  View
</button>

<div class="modal fade" id="general-info-modal-{{ data.id }}" tabindex="-1" role="dialog" aria-labelledby="general-info-modal-label-{{ data.id }}" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-info" id="general-info-modal-label-{{ data.id }}">More Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body text-left">

        <div class="row">
          <div class="col-6 modal-item">

            <h5 class="item-header">Basic Information</h5>
            <table class="table table-borderless">
              <tr>
                <td class="col-md-6">First Name</td>
                <td class="col-md-6">{{ data.first_name }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Last Name</td>
                <td class="col-md-6">{{ data.last_name }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Student Number</td>
                <td class="col-md-6">{{ data.student_number }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Email</td>
                <td class="col-md-6">{{ data.email }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Date of Birth</td>
                <td class="col-md-6">{{ data.date_of_birth }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Phone</td>
                <td class="col-md-6">{{ data.phone }}</td>
              </tr>
              <tr>
                <td class="col-md-6">SIN</td>
                <td class="col-md-6">{{ data.sin }}</td>
              </tr>
              <tr>
                <td class="col-md-6">LOA Months</td>
                <td class="col-md-6">{{ data.loa_months }}</td>
              </tr>
              <tr>
                <td class="col-md-6">LOA Details</td>
                <td class="col-md-6">{{ data.loa_details }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Policy 85</td>
                <td class="col-md-6">{{ data.policy_85 }}</td>
              </tr>
            </table>

            <h5 class="item-header">Additional Information</h5>

            <table class="table table-borderless">
              <tr>
                <td class="col-md-6">Status</td>
                <td class="col-md-6">{{ data.status }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Start Date</td>
                <td class="col-md-6">{{ data.start_date }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Completion Date</td>
                <td class="col-md-6">{{ data.completion_date }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Graduation Date</td>
                <td class="col-md-6">{{ data.graduation_date }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Comprehensive Exam Date</td>
                <td class="col-md-6">{{ data.comprehensive_exam_date }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Thesis Title</td>
                <td class="col-md-6">{{ data.thesis_title }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Funding Sources</td>
                <td class="col-md-6">{{ data.funding_sources }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Total Funding Awarded</td>
                <td class="col-md-6">{{ data.total_funding_awarded }}</td>
              </tr>
              <tr>
                <td class="col-md-6">TAships</td>
                <td class="col-md-6">{{ data.taships }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Current Role</td>
                <td class="col-md-6">{{ data.current_role }}</td>
              </tr>
            </table>

            <h5 class="item-header">Previous School Information</h5>

            <table class="table table-borderless">
              <tr>
                <td class="col-md-6">Previous Institution 1</td>
                <td class="col-md-6">{{ data.previous_institution_1 }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Degree 1</td>
                <td class="col-md-6">{{ data.degree_1 }}</td>
              </tr>
              <tr>
                <td class="col-md-6">GPA 1</td>
                <td class="col-md-6">{{ data.gpa_1 }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Previous Institution 2</td>
                <td class="col-md-6">{{ data.previous_institution_2 }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Degree 2</td>
                <td class="col-md-6">{{ data.degree_2 }}</td>
              </tr>
              <tr>
                <td class="col-md-6">GPA 2</td>
                <td class="col-md-6">{{ data.gpa_2 }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Previous Institution 3</td>
                <td class="col-md-6">{{ data.previous_institution_3 }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Degree 3</td>
                <td class="col-md-6">{{ data.degree_3 }}</td>
              </tr>
              <tr>
                <td class="col-md-6">GPA 3</td>
                <td class="col-md-6">{{ data.gpa_3 }}</td>
              </tr>
            </table>

          </div>
          <div class="col-6 modal-item">
            <h5 class="item-header">SIS Details</h5>

            <table class="table table-borderless">
              <tr>
                <td class="col-md-6">Given Name</td>
                <td class="col-md-6">{{ data.json.given_name }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Surname</td>
                <td class="col-md-6">{{ data.json.surname }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Middle Name</td>
                <td class="col-md-6">{{ data.json.middle_name }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Preferred Name</td>
                <td class="col-md-6">{{ data.json.preferred_name }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Stud No</td>
                <td class="col-md-6">{{ data.json.stud_no }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Email Address</td>
                <td class="col-md-6">{{ data.json.email_address }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Gender</td>
                <td class="col-md-6">{{ data.json.gender }}</td>
              </tr>
              <tr>
                <td class="col-md-6">DEGR PGM CD</td>
                <td class="col-md-6">{{ data.json.degr_pgm_cd }}</td>
              </tr>
              <tr>
                <td class="col-md-6">SPEC1 PRIM SUBJ CD</td>
                <td class="col-md-6">{{ data.json.spec1_prim_subj_cd }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Address 1</td>
                <td class="col-md-6">{{ data.json.addr1 }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Address 2</td>
                <td class="col-md-6">{{ data.json.addr2 }}</td>
              </tr>
              <tr>
                <td class="col-md-6">City</td>
                <td class="col-md-6">{{ data.json.city }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Province State</td>
                <td class="col-md-6">{{ data.json.province_state }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Country CD</td>
                <td class="col-md-6">{{ data.json.country_cd }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Country</td>
                <td class="col-md-6">{{ data.json.country }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Postal CD</td>
                <td class="col-md-6">{{ data.json.postal_cd }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Country of Citizenship</td>
                <td class="col-md-6">{{ data.json.country_of_citizenship }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Citizenship</td>
                <td class="col-md-6">{{ data.json.citizenship }}</td>
              </tr>
              <tr>
                <td class="col-md-6">Visa Type CD</td>
                <td class="col-md-6">{{ data.json.visa_type_cd }}</td>
              </tr>
              <tr>
                <td class="col-md-6">DOM/INTL</td>
                <td class="col-md-6">{{ data.json.dom_intl }}</td>
              </tr>
            </table>

            <div class="mt-4">
              <h6 class="fs-sm">Created on:</h6>
              <span class="fs-sm">{{ data.sis_created_on }}</span>
            </div>
            <div>
              <h6 class="fs-sm">Updated on:</h6>
              <span class="fs-sm">{{ data.sis_updated_on }}</span>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
