<div class="search-field p-3 fs-sm">
  <form method="GET">
    <input type="text" name="first_name" value="{{ request.GET.first_name }}" placeholder="{% if path == 'grad_supervision' %}Professor{% endif %} First Name" /> and
    <input type="text" name="last_name" value="{{ request.GET.last_name }}" placeholder="{% if path == 'grad_supervision' %}Professor{% endif %} Last Name" />

    {% if path == 'students' %}
      and <input type="text" name="student_number" value="{{ request.GET.student_number }}" placeholder="Student Number" />
    {% endif %}

    {% if path == 'professors' or path == 'users' %}
      and <input type="text" name="cwl" value="{{ request.GET.cwl }}" placeholder="CWL" />
    {% endif %}

    {% if path == 'students' or path == 'professors' or path == 'users' %}
      and <input type="text" name="email" value="{{ request.GET.email }}" placeholder="Email" /> <br />
    {% endif %}

    {% if path == 'grad_supervision' %}
      <input type="hidden" name="t" value="{{ request.GET.t }}" placeholder="Email" />
    {% endif %}

    <div class="mt-2">
      <button class="btn btn-sm fs-xs btn-primary" type="submit">Search</button>

      {% if path == 'professors' %}
        <a class="btn btn-sm fs-xs btn-secondary" href="{% url 'gp_admin:get_professors' %}">Clear</a>

      {% elif path == 'students' %}
        <a class="btn btn-sm fs-xs btn-secondary" href="{% url 'gp_admin:get_students' %}">Clear</a>

      {% elif path == 'grad_supervision' %}
        <a class="btn btn-sm fs-xs btn-secondary" href="{% url 'gp_admin:get_grad_supervision' %}?page=1&t=students">Clear</a>

      {% elif path == 'comp_exams' %}
        <a class="btn btn-sm fs-xs btn-secondary" href="{% url 'gp_admin:get_comp_exams' %}">Clear</a>

      {% elif path == 'users' %}
        <a class="btn btn-sm fs-xs btn-secondary" href="{% url 'gp_admin:get_users' %}">Clear</a>

      {% endif %}
    </div>
  </form>
</div>
