{% extends 'core/base.html' %}
{% block content %}

{% include 'gp_admin/subpages/_menu.html' %}

<div class="container max-width-container">
  <div class="row">
    <div class="col-md-4">
      {% include 'core/subpages/_left_aside.html' with data=request.user %}

      <div class="col-10 mx-auto mt-5">
        <div class="bd-callout bd-callout-warning">
          <h4>
            <i class="fa fa-bell-o" aria-hidden="true"></i> Memo
          </h4>
        </div>
      </div>

    </div>

    <div class="col-md-8">

      <div class="bg-prompt">
        <div class="prompt p-4 text-center">
          <h4 class="mb-3">Welcome</h4>
          <p class="col-8 mx-auto">
            If you would like to view a list of students or professors, please click
            <a href="{% url 'gp_admin:get_students' %}">Students</a> or
            <a href="{% url 'gp_admin:get_professors' %}">Professors</a>.
          </p>
        </div>
      </div>

      <div class="col-8 mx-auto text-center mt-5">
        <h5 class="text-info mb-3">Overview</h5>
        <table class="table fs-1">
          <tbody>
            <tr>
              <td class="col-md-6 font-weight-bold">Number of Students</td>
              <td class="col-md-6">{{ num_students }}</td>
            </tr>
            <tr>
              <td class="col-md-6 font-weight-bold">Number of Professors</td>
              <td class="col-md-6">{{ num_professors }}</td>
            </tr>
            <tr>
              <td class="col-md-6 font-weight-bold">Number of Users</td>
              <td class="col-md-6">{{ num_users }}</td>
            </tr>
          </tbody>
        </table>

        <h5 class="text-info mt-5 mb-3">
          Quick View for SIS Students
        </h5>

        <table class="table fs-1">
          <thead>
            <tr>
              <th>Date</th>
              <th>Created</th>
              <th>Updated</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Today ({{ stats.today }})</td>
              <td>{% include 'gp_admin/subpages/_modal_display_students.html' with data=stats.today_created_students date='Today' type='created' %}</td>
              <td>{% include 'gp_admin/subpages/_modal_display_students.html' with data=stats.today_updated_students date='Today' type='updated' %}</td>
            </tr>
            <tr>
              <td>Yesterday ({{ stats.yesterday }})</td>
              <td>{% include 'gp_admin/subpages/_modal_display_students.html' with data=stats.yesterday_created_students date='Yesterday' type='created' %}</td>
              <td>{% include 'gp_admin/subpages/_modal_display_students.html' with data=stats.yesterday_updated_students date='Yesterday' type='updated' %}</td>
            </tr>
            <tr>
              <td>{{ stats.week_ago }} ~ {{ stats.today }}</td>
              <td>{% include 'gp_admin/subpages/_modal_display_students.html' with data=stats.week_ago_created_students date='week_ago' type='created' %}</td>
              <td>{% include 'gp_admin/subpages/_modal_display_students.html' with data=stats.week_ago_updated_students date='week_ago' type='updated' %}</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>
</div>

{% endblock %}
