{% extends 'core/base.html' %}
{% block content %}

{% include 'gp_admin/subpages/_menu.html' %}

<div class="container max-width-container">

  <div class="row">
    <div class="col-md-4">

      {% if info.type == 'add' %}
        {% include 'core/subpages/_left_aside.html' with title='New Professor' total=professors|length type=info.type path=info.path %}
      {% else %}
        {% include 'core/subpages/_left_aside.html' with data=prof type=info.type %}
      {% endif %}

      <div class="left-aside-btn-groups">
        <a class="btn btn-outline-primary" href="{{ next }}">Back to Program Supervision</a>
      </div>
    </div>

    <div class="col-md-8">
      <div class="board">
        <h3>Add Student</h3>

        {% include 'core/subpages/_form_note.html' %}

        <form class="mb-5" action="{% url 'gp_admin:add_program_supervision' username=prof.username %}" method="post">
          {% csrf_token %}

          <table class="in-form table table-borderless fs-1">
            <tr>
              <td class="col-md-3">
                Student:
                <small class="text-danger"><i class="fa fa-asterisk" aria-hidden="true"></i></small>
              </td>
              <td class="col-md-9">
                <div id="selected-student" style="display:none"></div>
                <input id="enter-student" class="form-control" type="text" placeholder="Enter Student Name" data-url="{% url 'gp_admin:search_students' %}"  />
                <input id="input-student" class="d-none" type="text" name="student" value="" />
                <div id="display-students"></div>
              </td>
            </tr>
            <tr>
              <td class="col-md-3">
                <label for="id_professor_role">
                  Professor Role:
                  <small class="text-danger"><i class="fa fa-asterisk" aria-hidden="true"></i></small>
                </label>
              </td>
              <td class="col-md-9">
                <select id="id_professor_role" name="professor_role">
                  <option value="">Select</option>
                  {% for role in prof_roles %}
                    <option value="{{ role.id }}">{{ role.name }}</option>
                  {% endfor %}
                </select>
              </td>
            </tr>
          </table>

          <input type="hidden" name="professor" value="{{ prof.id }}" />
          <input type="hidden" name="next" value="{{ next }}" />

          <a class="btn btn-outline-secondary mr-2" href="{{ next }}">Cancel</a>
          <input class="btn btn-primary" type="submit" value="Add" />
        </form>

        <hr />

        <h5 class="mt-5 mb-3">Students ({{ prof.graduate_supervision_set.count }})</h5>

        <table class="table bg-white border text-center fs-sm">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Student Number</th>
              <th>Email</th>
              <th>Professor Role</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for gs in prof.graduate_supervision_set.all %}
              <tr>
                <td>{{ gs.student.first_name }}</td>
                <td>{{ gs.student.last_name }}</td>
                <td>{{ gs.student.student_number }}</td>
                <td>{{ gs.student.email }}</td>
                <td>{{ gs.professor_role.name }}</td>
                <td>
                  <div class="btn-toolbar">
                    <button class="btn btn-xs btn-warning fs-sm mr-2" type="button" data-toggle="modal" data-target="#grad-supervision-modal-{{ gs.id }}">
                      Edit
                    </button>

                    <div class="modal fade" id="grad-supervision-modal-{{ gs.id }}" tabindex="-1" role="dialog" aria-labelledby="grad-supervision-modal-label-{{ gs.id }}" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title text-info" id="grad-supervision-modal-label-{{ gs.id }}">Edit Graduate Supervision</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          </div>
                          <div class="modal-body text-left">
                            <div class="modal-item fs-1">
                              <form action="{% url 'gp_admin:edit_program_supervision' username=prof.username %}?next={{ next }}" method="post">
                                {% csrf_token %}

                                <div class="field-wrapper">
                                  <label for="id_professor_role_{{ gs.id }}">
                                    Professor Role:
                                    <small class="text-danger"><i class="fa fa-asterisk" aria-hidden="true"></i></small>
                                  </label>
                                  <select id="id_professor_role_{{ gs.id }}" name="professor_role">
                                    {% for role in prof_roles %}
                                      <option value="{{ role.id }}" {% if role.id == gs.professor_role.id %}selected{% endif %}>{{ role.name }}</option>
                                    {% endfor %}
                                  </select>
                                </div>

                                <input type="hidden" name="graduate_supervision" value="{{ gs.id }}" />
                                <input type="hidden" name="student" value="{{ gs.student.id }}" />
                                <input type="hidden" name="professor" value="{{ gs.professor.id }}" />
                                <input type="hidden" name="next" value="{{ next }}" />
                                <input class="btn btn-warning" type="submit" value="Update" />
                              </form>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>

                    <form action="{% url 'gp_admin:delete_program_supervision' username=prof.username %}?next={{ next }}" method="post" onsubmit="return confirm('Are you sure to delete this Program Supervision - {{ gs.student.first_name }} {{ gs.student.last_name }}?');">
                      {% csrf_token %}

                      <input type="hidden" name="graduate_supervision" value="{{ gs.id }}" />
                      <input type="hidden" name="next" value="{{ next }}" />
                      <input class="btn btn-xs btn-danger fs-sm" type="submit" value="Delete" />
                    </form>
                  </div>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="6">No students found</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

    </div>
  </div>

</div>

{% endblock %}

{% block js %}
  {% load static %}
  <script type="text/javascript" src="{% static 'js/add_grad_supervision.js' %}"></script>
{% endblock %}
