{% extends 'core/base.html' %}
{% block content %}

{% include 'gp_admin/subpages/_menu.html' %}

<div class="container mt-5">

  <div class="row">
    <div class="col-md-4 pl-0">

      <aside>
        <div class="bg-prompt text-center">

          <div class="prompt p-4 mb-4">
            <h3>Add Professor</h3>
            <hr />
            <p>There are currently <span class="font-weight-bold text-chocolate">{{ professors|length }}</span> professors.</p>
          </div>
        </div>
      </aside>


      <div class="left-aside-btn-groups">
        <a class="btn btn-outline-primary" href="{% url 'gp_admin:get_professors' %}">Back to Professors</a>
      </div>
    </div>

    <div class="col-md-8 pr-0">

      <div class="board">
        <h3>Professor Create Form</h3>

        <div class="bg-white border p-3">
          <ul class="text-dark mb-0">
            <li>All required fields must be filled. (<small class="text-danger"><i class="fa fa-asterisk" aria-hidden="true"></i></small>: This field is required)</li>
          </ul>
        </div>

        <form action="" method="post">
          {% csrf_token %}

          {% for field in form.visible_fields  %}
            <div class="field-wrapper">
              <label for="{{ field.id_for_label }}">
                {{ field.label }}:
                {% if field.name == 'last_name' or field.name == 'first_name' %}
                  <small class="text-danger"><i class="fa fa-asterisk" aria-hidden="true"></i></small>
                {% endif %}
              </label>
              {% if field.help_text %}
                <div class="help">{{ field.help_text|safe }}</div>
              {% endif %}
              {{ field }}
            </div>
          {% endfor %}

          <a class="btn btn-outline-secondary" href="{% url 'gp_admin:get_professors' %}">Cancel</a>
          <input class="btn btn-primary" type="submit" value="Create" />
        </form>

      </div>

    </div>
  </div>

</div>

{% endblock %}
