{% extends 'core/base.html' %}
{% block content %}

{% include 'gp_admin/subpages/_menu.html' %}

<div class="container max-width-container">

  <div class="row">
    <div class="col-md-4">
      {% include 'core/subpages/_left_aside.html' with data=stud type=info.type path=info.path %}

      <div class="left-aside-btn-groups">
        <a class="btn btn-outline-primary" href="{{ next }}">Back to Students</a>
      </div>

      <div class="col-10 mx-auto">
        <div class="bd-callout bd-callout-warning">
          <h4>
            <i class="fa fa-bell-o" aria-hidden="true"></i> Note
          </h4>

          <ul class="list-left-20">
            <li>
              Administratorss can assign this student to multiple professors in the table.
            </li>
          </ul>
        </div>
      </div>
    </div>

  <div class="col-md-8">

    <div class="board col-11 mx-auto">

      <h3 class="text-primary mb-3">Assign Student</h3>

      <form action="" method="post">
        {% csrf_token %}

        <table
          class="table text-center fs-1 mb-4 bg-white"
          data-toggle="table"
          data-sortable="true"
          data-classes=""
          data-pagination="true"
          data-search="true"
          data-page-size="25"
          data-page-list="[25, 50, 100, all]"
        >
          <thead>
            <tr>
              <th>Select</th>
              <th data-sortable="true">Professor Name</th>
              <th>Professor Role</th>
            </tr>
          </thead>
          <tbody>
            {% for prof in profs %}
              <tr>
                <td>
                  <input type="checkbox" name="professor_{{ prof.id }}" value="{{ prof.id }}" {% if prof.is_checked %}checked{% endif %} />
                </td>
                <td>{{ prof.get_full_name }}</td>
                <td>
                  <select name="professor_role_{{ prof.id }}">
                    {% if not prof.is_checked %}
                      <option value="">Select</option>
                    {% endif %}

                    {% for role in prof_roles %}
                      <option value="{{ role.id }}" {% for gs in stud.graduate_supervision_set.all %}{% if gs.professor.id == prof.id and gs.professor_role.id == role.id %}selected{% endif %}{% endfor %}>{{ role.name }}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <input type="hidden" name="current_page" value="{{ request.get_full_path }}" />
        <input type="hidden" name="student" value="{{ stud.id }}" />

        <a class="btn btn-outline-secondary mr-2" href="{{ next }}">Cancel</a>
        <input class="btn btn-primary" type="submit" value="Save changes" />

      </form>

      </div>
    </div>
  </div>

</div>

{% endblock %}
