{% extends 'core/base.html' %}
{% block content %}

{% include 'gp_admin/subpages/_menu.html' %}

<div class="container max-width-container">

  <div class="row">
    <div class="col-md-4">
      {% include 'core/subpages/_left_aside.html' with data=prof type=info.type %}

      <div class="left-aside-btn-groups">
        <a class="btn btn-outline-primary" href="{{ next }}">Back to Professors</a>
      </div>
    </div>

    <div class="col-md-8">

      <div class="board col-11 mx-auto">
        <h3>Role Details Form</h3>

        {% include 'core/subpages/_form_note.html' %}

        <form action="" method="post">
          {% csrf_token %}

          <table class="table table-borderless fs-1">
            {% for field in form.visible_fields  %}
              <tr>
                <td class="col-md-4">
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}:
                  </label>

                  {% if field.help_text %}
                    <div class="help">{{ field.help_text|safe }}</div>
                  {% endif %}
                </td>
                <td class="col-md-8">{{ field }}</td>
              </tr>
            {% endfor %}
          </table>

          <input type="hidden" name="next" value="{{ next }}" />

          <div class="text-center mt-2-5rem">
            <a class="btn btn-outline-secondary mr-2" href="{{ next }}">Cancel</a>
            <input class="btn btn-primary" type="submit" value="Create" />
          </div>
        </form>

      </div>

    </div>
  </div>

</div>

{% endblock %}
