{% extends 'core/base.html' %}
{% block content %}

{% include 'gp_admin/subpages/_menu.html' %}

<div class="container max-width-container">

  <div class="row bg-light-gray">
    <div class="col-md-2">
      <h2 class="text-center-middle text-center">Sent Exam <br /> Reminders</h2>
    </div>
    <div class="col-md-10">
      {% include 'gp_admin/subpages/_search_fields.html' with path='sent_reminders' %}
    </div>
  </div>

  {% include 'core/subpages/_searched_message.html' with items=reminders total_items=total_reminders %}

  <table
    class="table table-bordered table-hover table-striped table-responsive-md text-center fs-sm"
    data-toggle="table"
    data-sortable="true"
    data-classes=""
  >
    <thead>
      <tr>
        <th>SRID</th>
        <th>Student</th>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Email</th>
        <th>Type</th>
        <th data-sortable="true">Sent at</th>
      </tr>
    </thead>
    <tbody>
      {% for reminder in reminders %}
        <tr>
          <td>{{ reminder.id }}</td>
          <td>
            {{ reminder.student.get_full_name }} <br />
            {% include 'gp_admin/subpages/_modal_more_info.html' with data=reminder.student %}
          </td>
          <td>{{ reminder.sender }}</td>
          <td>{{ reminder.receiver }}</td>
          <td>
            <button type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#reminder-modal-{{ reminder.id }}">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </button>
          	<div class="modal fade" id="reminder-modal-{{ reminder.id }}" tabindex="-1" role="dialog" aria-labelledby="reminder-modal-label-{{ reminder.id }}" aria-hidden="true">
            	<div class="modal-dialog modal-lg" role="document">
            	  <div class="modal-content">
              		<div class="modal-header">
              		  <h5 class="modal-title text-info" id="reminder-modal-label-{{ reminder.id }}">Sent a reminder email</h5>
              		  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              		</div>
              		<div class="modal-body text-left">
                    <section class="line-height-2">
                      <div>
                        <span class="font-weight-bold">Sender:</span>
                        {{ reminder.sender }}
                      </div>
                      <div>
                        <span class="font-weight-bold">Receiver:</span>
                        {{ reminder.receiver }}
                      </div>
                    </section>

                    <hr />

                    <section>
                      <h5 class="text-dark-gray mb-3">{{ reminder.title }}</h5>
                      <p>{{ reminder.message|safe }}</p>
                    </section>
              		</div>
            	  </div>
            	</div>
          	</div>
          </td>
          <td>{{ reminder.type }}</td>
          <td>
            <span class="d-none">{{ reminder.created_at|date:"Y m d z" }}</span>
            {{ reminder.created_at }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'gp_admin/subpages/_table_paginator.html' with data=reminders %}
</div>

{% endblock %}
