{% extends 'core/base.html' %}
{% block content %}

{% include 'gp_admin/subpages/_menu.html' %}

<div class="container max-width-container">

  <div class="row bg-light-gray">
    <div class="col-md-2">
      <h2 class="text-center-middle text-center">Program <br /> Supervision</h2>
    </div>
    <div class="col-md-6">
      {% include 'gp_admin/subpages/_search_fields.html' with path='program_supervision' %}
    </div>
    <div class="col-md-4 bg-white">
      <div class="bd-callout bd-callout-warning height-100 m-0 px-3 py-2">
        <h6 class="d-inline-block mr-2">
           <i class="fa fa-bell-o" aria-hidden="true"></i> Note
        </h6>
        If a professor has a <span class="badge badge-success">PROGRAM ADVISOR / DIRECTOR</span> role,
        a <span class="font-weight-bold">Supervisors</span> tab will show up next to a Students tab,
        and s/he can view a list of students and supervisors belonging to the program.
      </div>
    </div>
  </div>

  {% include 'core/subpages/_searched_message.html' with items=supervisors total_items=total_supervisors %}

  {% for sup in supervisors %}

    {% include 'gp_admin/subpages/_program_supervision.html' with data=sup tab_urls=tab_urls path='admin' %}

  {% empty %}

    <div>No professors found</div>

  {% endfor %}

  {% if supervisors.has_other_pages %}
    <nav class="table-paginator" aria-label="Page navigation Search results pages">
      <ul class="pagination justify-content-center">

        {% if supervisors.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1
{% if request.GET.first_name %}&first_name={{ request.GET.first_name }}{% endif %}
{% if request.GET.last_name %}&last_name={{ request.GET.last_name }}{% endif %}
{% if request.GET.t %}&t={{ request.GET.t }}{% endif %}"
            ><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ supervisors.previous_page_number }}
{% if request.GET.first_name %}&first_name={{ request.GET.first_name }}{% endif %}
{% if request.GET.last_name %}&last_name={{ request.GET.last_name }}{% endif %}
{% if request.GET.t %}&t={{ request.GET.t }}{% endif %}"
            ><i class="fa fa-angle-left" aria-hidden="true"></i></a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
          </li>
          <li class="page-item disabled">
            <span class="page-link"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
          </li>
        {% endif %}

        {% for i in supervisors.paginator.page_range %}
          {% if supervisors.number == i %}
            <li class="page-item active">
              <span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span>
            </li>
          {% else %}
            <li class="page-item">

              {% if i|add:"-3" <= supervisors.number and supervisors.number <= i|add:"3" %}
                <a class="page-link" href="?page={{ i }}
{% if request.GET.first_name %}&first_name={{ request.GET.first_name }}{% endif %}
{% if request.GET.last_name %}&last_name={{ request.GET.last_name }}{% endif %}
{% if request.GET.t %}&t=students{% endif %}"
                >{{ i }}</a>
              {% endif %}

            </li>
          {% endif %}
        {% endfor %}

        {% if supervisors.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ supervisors.next_page_number }}
{% if request.GET.first_name %}&first_name={{ request.GET.first_name }}{% endif %}
{% if request.GET.last_name %}&last_name={{ request.GET.last_name }}{% endif %}
{% if request.GET.t %}&t=students{% endif %}"
            ><i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ supervisors.paginator.num_pages }}
{% if request.GET.first_name %}&first_name={{ request.GET.first_name }}{% endif %}
{% if request.GET.last_name %}&last_name={{ request.GET.last_name }}{% endif %}
{% if request.GET.t %}&t=students{% endif %}"
            ><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
          </li>
          <li class="page-item disabled">
            <span class="page-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
          </li>
        {% endif %}

      </ul>
    </nav>

  {% endif %}

  {% comment %}
    {% include 'gp_admin/subpages/_table_paginator.html' with data=supervisors %}
  {% endcomment %}

</div>

{% endblock %}
