{% extends 'core/base.html' %}
{% block content %}

{% include 'gp_admin/subpages/_menu.html' %}

<div class="container max-width-container">

  <div class="row bg-light-gray">
    <div class="col-md-2">
      <h2 class="text-center-middle text-center">Graduate <br /> Supervision</h2>
    </div>
    <div class="col-md-8">
      {% include 'gp_admin/subpages/_search_fields.html' with path='grad_supervision' %}
    </div>
    <div class="col-md-2"></div>
  </div>

  {% include 'core/subpages/_searched_message.html' with items=professors total_items=total_professors %}

  {% for prof in professors %}

    {% include 'gp_admin/subpages/_grad_supervision.html' with data=prof tab_urls=tab_urls path='admin' %}

  {% empty %}

    <div>No professors found</div>

  {% endfor %}

  {% include 'gp_admin/subpages/_table_paginator.html' with data=professors %}

</div>

{% endblock %}
