{% extends 'core/base.html' %}
{% block content %}

{% include 'gp_admin/subpages/_menu.html' %}

<div class="container max-width-container">

  <div class="row bg-light-gray">
    <div class="col-md-2">
      <h2 class="text-center-middle text-center">Graduate <br /> Supervision</h2>
    </div>
    <div class="col-md-8">
      {% include 'gp_admin/subpages/_search_fields.html' with path='grad_supervision' %}
    </div>
    <div class="col-md-2"></div>
  </div>

  {% include 'core/subpages/_searched_message.html' with items=professors total_items=total_professors %}

  {% for prof in professors %}

    <div class="row mb-5">

      <div class="col-md-3">
        <div class="text-center">
          <h5 class="text-dark-blue mb-3">{{ prof.get_full_name }}</h5>
          <p>{{ prof.profile.position.name }}</p>
          <p class="text-secondary">Number of students: {{ prof.graduate_supervision_set.count }}</p>
          <a href="{% url 'gp_admin:add_grad_supervision' username=prof.username %}">Add Student</a>
        </div>

      </div>
      <div class="col-md-9">

        <table class="table table-sm fs-sm">
          <thead>
            <tr>
              <th>GSID</th>
              <th>Professor Role</th>
              <th>Student Name</th>
              <th>Studnet Number</th>
              <th>Email</th>
              <th>Thesis Title</th>
              <th>Current Role</th>
              <th>Funding Sources</th>
              <th>Total Funding Awarded</th>
              <th>TAships</th>
            </tr>
          </thead>
          <tbody>
            {% for gs in prof.graduate_supervision_set.all %}
              <tr>
                <td>{{ gs.id }}</td>
                <td>{{ gs.professor_role }}</td>
                <td>{{ gs.student.get_full_name }}</td>
                <td>{{ gs.student.student_number }}</td>
                <td>{{ gs.student.email }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            {% empty %}
              <tr>
                <td>No students found</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  {% empty %}

    <div>No professors found</div>

  {% endfor %}

</div>

{% endblock %}
