<nav class="container menu">
  <div class="dropdown">
    <a class="btn dropdown-item" href="{% if path == 'grad-advisor' %}{% url 'gp_program_advisor_director:index' %}{% elif path == 'supervisor' %}{% url 'gp_supervisor:index' %}{% endif %}">Home</a>
  </div>
  <div class="dropdown">
    <a class="btn dropdown-item" href="{% if path == 'grad-advisor' %}{% url 'gp_program_advisor_director:get_program_supervision' %}?t=students{% elif path == 'supervisor' %}{% url 'gp_supervisor:get_program_supervision' %}?t=students{% endif %}">Program Supervision</a>
  </div>
</nav>
