{% load static %}

<aside class="col-10 mx-auto">
  <div class="left-content">
    <img class="img-profile img-fluid" src="{% static 'images/user.png' %}" alt="avatar-placeholder" />

    <div class="bg-prompt">
      <div class="prompt p-3 mb-4">

        {% if type == 'create' %}

          <h5>{{ title }}</h5>

          {% if path == 'users' %}
            <span class="badge badge-light my-2">No Role</span>

          {% elif path == 'students' %}
            <span class="badge badge-secondary my-2">Student</span>

          {% endif %}

          <hr />

          <p>There are currently <span class="font-weight-bold text-chocolate">{{ total }}</span> {{ path }}.</p>

        {% else %}

          <h5>{{ data.get_full_name }}</h5>
          <p class="my-1">{{ data.username }}</p>

          {% if path == 'students' %}
            {% include 'core/subpages/_role.html' with data='student' %}
          {% else %}
            {% for role in data.profile.roles.all %}
              {% include 'core/subpages/_role.html' with data=role.slug %}
            {% empty %}
              None
            {% endfor %}
          {% endif %}

        {% endif %}

      </div>
    </div>
  </div>
</aside>
