{% load static %}

<aside class="col-10 mx-auto">
  <div class="left-content">
    <img class="img-profile img-fluid" src="{% static 'images/user.png' %}" alt="avatar-placeholder" />

    <div class="bg-prompt">
      <div class="prompt p-3 mb-4">
        <h5>{{ data.get_full_name }}</h5>
        <p class="my-2">{{ data.username }}</p>

        {% for role in data.profile.roles.all %}
          {% include 'core/subpages/_user_role.html' with data=role.name %}
        {% empty %}
          None
        {% endfor %}

      </div>
    </div>
  </div>
</aside>
