{% if data == 'superadmin' %}
  <span class="badge badge-orange">{{ data.upper }}</span> <br />

{% elif data == 'admin' %}
  <span class="badge badge-primary">{{ data.upper }}</span> <br />

{% elif data == 'program-advisor-director' %}
  <span class="badge badge-success">PROGRAM <br /> ADVISOR / DIRECTOR</span> <br />

{% elif data == 'supervisor' %}
  <span class="badge badge-warning">{{ data.upper }}</span> <br />

{% else %}
  <span class="badge badge-light">{{ data.upper }}</span>

{% endif %}
