{% extends 'core/base.html' %}
{% block content %}

{% include 'gp_admin/subpages/_menu.html' %}

<div class="container max-width-container">

  <div class="row">
    <div class="col-md-4">
      {% if info.type == 'create' %}
        {% include 'core/subpages/_left_aside.html' with title='New User' total=users|length type=info.type path=info.path %}
      {% else %}
        {% include 'core/subpages/_left_aside.html' with data=user type=info.type %}
      {% endif %}

      <div class="left-aside-btn-groups">
        <a class="btn btn-outline-primary" href="{{ next }}">Back to All Users</a>
      </div>

      <div class="col-10 mx-auto">
        <div class="bd-callout bd-callout-warning">
          <h4>
            <i class="fa fa-bell-o" aria-hidden="true"></i> Note
          </h4>

          <ul class="list-left-20">
            <li>
              If a user has a
              <span class="font-weight-bold">Graduate Advisor</span> or
              <span class="font-weight-bold">Supervisor</span> role,
              please fill out the <a href="{% url 'gp_admin:create_user' %}?next={{ next }}&t=role_details">Role Details</a> Form in the tab.
            </li>
            <li>Please click on the <span class="font-weight-bold">Cancel</span> button to clear saved data after saving.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-8">

      <nav class="mb-4">
        <div class="nav nav-tabs">
          <a class="nav-item nav-link {% if tab == 'basic_info' %} active {% endif %}" href="{{ tab_urls.basic_info }}">
            <span class="mobile-hide-xs"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
            Basic Info Form
          </a>
          <a class="nav-item nav-link {% if tab == 'role_details' %} active {% endif %}" href="{{ tab_urls.role_details }}">
            <span class="mobile-hide-xs"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
            Role Details Form
          </a>
        </div>
      </nav>

      <div class="board col-11 mx-auto">
        <h3>
          {% if tab == 'basic_info' %}
            Basic Information
          {% else %}
            Role Details
          {% endif %}
          Form
        </h3>
        {% include 'core/subpages/_form_note.html' %}

        <form action="{{ info.href }}" method="post">
          {% csrf_token %}

          {% if tab == 'basic_info' %}

            <table class="table table-borderless fs-1">
              {% for field in user_form.visible_fields  %}
                <tr>
                  <td class="col-md-4">
                    <label for="{{ field.id_for_label }}">
                      {{ field.label }}:
                      {% if field.name == 'first_name' or field.name == 'last_name' or field.name == 'username' %}
                        <small class="text-danger"><i class="fa fa-asterisk" aria-hidden="true"></i></small>
                      {% endif %}
                    </label>

                    {% if field.help_text %}
                      <div class="help">{{ field.help_text|safe }}</div>
                    {% endif %}
                  </td>
                  <td class="col-md-8">{{ field }}</td>
                </tr>
              {% endfor %}

              {% for field in profile_form.visible_fields %}
                <tr>
                  <td class="col-md-4">
                    <label for="{{ field.id_for_label }}">
                      {{ field.label }}:
                      {% if field.name == 'roles' %}
                        <small class="text-danger"><i class="fa fa-asterisk" aria-hidden="true"></i></small>
                      {% endif %}
                    </label>

                    {% if field.help_text %}
                      <div class="help">{{ field.help_text|safe }}</div>
                    {% endif %}
                  </td>
                  <td class="col-md-8">{{ field }}</td>
                </tr>
              {% endfor %}
            </table>

          {% elif tab == 'role_details' %}

            <table class="table table-borderless fs-1">
              {% for field in role_details_form.visible_fields  %}
                <tr>
                  <td class="col-md-4">
                    <label for="{{ field.id_for_label }}">
                      {{ field.label }}:
                    </label>

                    {% if field.help_text %}
                      <div class="help">{{ field.help_text|safe }}</div>
                    {% endif %}
                  </td>
                  <td class="col-md-8">{{ field }}</td>
                </tr>
              {% endfor %}
            </table>

          {% else %}

            <p class="my-4">A form is not available at the moment.</p>

          {% endif %}

          {% if info.type == 'edit' %}
            <input type="hidden" name="user" value="{{ user.id }}" />
          {% endif %}

          <input type="hidden" name="current_page" value="{{ request.get_full_path }}" />
          <input type="hidden" name="next" value="{{ next }}" />
          <input type="hidden" name="tab" value="{{ tab }}" />

          <div class="text-center mt-2-5rem">
            <a class="btn btn-outline-secondary" href="{% url 'gp_admin:cancel_user' %}?next={{ next }}">Cancel</a>

            {% if info.type == 'create' %}
              <input class="btn btn-info" type="submit" name="save" value="Save" />
            {% endif %}

            <input class="btn btn-primary" type="submit" value="{{ info.btn_label }}" />

            <div class="mt-3">
              {% if tab == 'basic_info' %}
                <a class="btn btn-outline-info" type="button" href="{{ tab_urls.role_details }}">Role Details Form</a>
              {% elif tab == 'role_details' %}
                <a class="btn btn-outline-info" type="button" href="{{ tab_urls.basic_info }}">Basic Information Form</a>
              {% endif %}
            </div>

          </div>
        </form>

      </div>

    </div>
  </div>

</div>

{% endblock %}
