{% extends 'core/base.html' %}
{% block content %}

{% include 'gp_grad_advisor/subpages/_menu.html' with path='supervisor' %}

<div class="container max-width-container">
  <div class="row">

    <div class="col-md-4">
      {% include 'core/subpages/_left_aside.html' with data=request.user %}

      <div class="left-aside-btn-groups">
        <a class="btn btn-outline-primary" href="{{ info.href }}">Graduate Supervision</a>
      </div>

      <div class="col-10 mx-auto mt-5">
        <div class="bd-callout bd-callout-warning">
          <h4>
            <i class="fa fa-bell-o" aria-hidden="true"></i> Memo
          </h4>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      {% include 'gp_grad_advisor/subpages/_basic_info.html' %}
    </div>
  </div>
</div>

{% endblock %}
